.scroll-pane > .viewport {  /*not .scrollpane but .scroll-pane*/
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .corner {
      -fx-background-color: black;
      /* -fx-alignment:center; */
}

#firstQuadrant{
    -fx-padding: 10 0 0 0;
}

.progressbar{
    -fx-border-color: #FFF; 
    -fx-background-radius: 0; 
    -fx-text-box-border: transparent; 
    -fx-control-inner-background: transparent; 
    -fx-background-insets: 0;
  }